/* 
    CSS GLOBAL RESET
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: sh_font;
    src: url(../fonts/south_park.ttf);
}

/* 
	NAV
*/

.my-navbar {
	width: 100%;
	background-color: #AD7C67;
	position: absolute;
	left: 0;
	font-family: sh_font, sans-serif;
	position: fixed;
	z-index: 3;
	height: 55px;
}

.my-navbar ul{
	display: flex;
	list-style-type: none;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.5rem;
}

.my-navbar li{
	width: 10%;
	text-align: center;
}
.my-navbar a{	
	font-size: 1.2rem;
	color: #1F1F1F;
	text-decoration: none;
	display: block;
	padding-top: 0.5rem;
}

.my-navbar a:hover {
	background-color: #CDC9C5;
}

.my-navbar a:focus {
	background-color: #CDC9C5;
}

.my-navbar .current {
	background-color: #CDC9C5;
}

.fixed-nav .my-navbar {
	position: fixed;
	left: 0;
	top: 0;
}

/* 
	HEADER
*/

.header-img{
  background: url(../img/south-park-4.jpg) no-repeat center center;
  height: 800px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  font-family: 'Roboto', Georgia, Times, 'Times New Roman', serif;
}

.headline{
	text-align: center;
}

.head-container{
	top: 180px;
	left: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	position: relative;
}

.head-container h1 {
	padding: 10px;
	background: rgba(255,255,255,0.4);
	font-size: 115px;
}

.head-container h2{
	margin-top: 20px;
	background: rgba(255,255,255,0.4);
	font-size: 85px;
	padding: 10px;
}

/* 
	MAIN
*/

.feature-div{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	/* background:  rgba(109, 92, 92, 0.4);; */
	width: 80%;
	text-align: center;
	font-family: 'Roboto', Georgia, Times, 'Times New Roman', serif;
}

.feature-div h2{
	font-size: 50px;
	margin: 10px;
	font-family: sh_font, 'Roboto', sans-serif;
}

.feature-div h3{
	font-size: 30px;
	margin: 20px;
	font-family: 'Roboto', sans-serif;
}

.feature-div p {
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	width: 100%;
	line-height: 1.5;
	color: 	#656565;
}

.feature-divider { 
    display: block;
    margin-top: 100px;
	margin-bottom: 100px;
	width: 75%;
    margin-left: auto;
    margin-right: auto;
	border-top: 1px solid #eee;
} 

/* 
	Intro
*/

/* 
	SLIDESHOW
*/

.slideshow-div {
	margin: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.carousel-caption { 
	position: absolute;
	top: 440px;
}

.seasons{
 top: 360px;
}